@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

//Primary
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

//Neutral
$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);

:root{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: $Very_Light_Gray;
}

header{
    margin: 0 auto;
    width: 40rem;
    margin-top: 5.3rem;
    display: flex;
    flex-direction: column;
    .title1, .title2{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 2.37rem;
        line-height: 3.4rem;
        color: $Very_Dark_Blue;
    }
    
    .title1{
        font-weight: 200;
    }
    
    p{
        margin-top: 1.15rem;
        font-size: 1.1rem;
        letter-spacing: .2px;
        text-align: center;
        line-height: 1.7rem;
        color: $Grayish_Blue;
    }
}

.container{
    margin: 3.5% auto;
    width: 82.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .supervisor, .team-builder, .karma, .calculator{
        padding: 1.77rem 2.2rem 2.15rem;
        box-sizing: border-box;
        width: 31.5%;
        height: 49.2%;
        background-color: #ffffff;
        border-bottom-left-radius: .6rem;
        border-bottom-right-radius: .6rem;
        border-top-left-radius: 4.4px;
        border-top-right-radius: 4.4px;
        box-shadow: 0px 18px 27px -9px rgba(186,204,224,1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .info-card{
            width: 95%;
            height: 100%;
            h2{
                margin: 0;
                font-size: 1.35rem;
                color: $Very_Dark_Blue;
            }
            p{
                margin-top: .52rem;
                margin-bottom: 14.6%;
                font-size: .8rem;
                line-height: 1.55rem;
                color: $Grayish_Blue;
            }
        }

        .icon-card{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            img{
                width: 22.5%;
                //width: 4.26rem;
            }
        }
        
    }

    .supervisor{
        border-top: 4.4px solid $Cyan;
    }
    .team-builder{
        border-top: 4.4px solid $Red;
    }
    .karma{
        border-top: 4.4px solid $Orange;
        margin-top: 8.5%;
    }
    .calculator{
        border-top: 4.4px solid $Blue;
    }

    .cards-center{
        width: 31.4%;
        height: 100%;
        .team-builder,.karma{
            width: 100%;
        }
    }
}

footer{
    text-align: center;
    font-size: 11px;
    a{
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }
}

